@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.create-post-form {
  background-color:rgb(230, 233, 201);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Averia Serif Libre', Cambria, serif;
  margin-left: 25%;
  margin-top: 2%;
  padding: 2%;
  width: 50%;
}

.label-type1 {
  text-align: left;
}

.container-txt {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2%;
}