@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.main-container {
  /* background-color: rgb(237, 240, 212); */
  background-color: rgb(194, 206, 130);
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
}

h1 {
  color: rgb(37, 17, 13);
  font-family: 'Averia Serif Libre', Cambria, serif;
  margin: 2%;
  font-size: large;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .posts-container {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size:x-large;
  }
}
