@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.login-form {
  background-color:rgb(230, 233, 201);;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Averia Serif Libre', Cambria, serif;
  padding: 2%;
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form input {
    border-radius: 5px;
    margin-bottom: 3%;
    margin-left: 3%;
    width: 55%;
}